
body {
    background-color: #777777;
}

.thirds{
   float: left;
}

 .outside {
     width: 15%;
     color: #777777;
 }

 .inside {
     width: 70%;
 }


header {
    background-color: white;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

nav {
    background-color: white;
    padding: 30px;
    margin: 19px;
    text-align: center;
}

section {
    background-color: white;
    text-align: center;
    width: 509px;
    height: 381px;
    float: left;
    /* padding: 2px; */
    margin: 19px;
    margin-left: 20px;
    margin-top: 5px;
    /* border: 10px; */
    padding-top: 35px;
}

article { 
    background-color: #777777;
    width: 324px;
    height: 198px;
    padding: 18px;
    margin: 72px;
    margin-top: 46px;
}

#h1box {
    background-color: white;
    padding: 17px;
    margin: 16px;
    height: 31px;
}

#pbox {
    background-color: white;
    padding: 17px;
    margin: 16px;
    height: 31px;
}

aside {
    background-color: white;
    text-align: center;
    width: 449px;
    height: 337px;
    float: left;
    padding: 40px;
    margin: 4px;
}

footer {
    background-color: white;
    padding: 20px;
    margin: 17px;
    height: 30px;
    text-align: center;
    clear: both;
}
